---
import Layout from "~/layouts/Layout.astro";
import Section from "~/components/Section.astro";
import Container from "~/components/Container.astro";
import Heading from "~/components/Heading.astro";
import Team from "~/components/Team.astro";
import Hero from "~/components/Hero.astro";
import { Image } from "astro:assets";
import Button from "~/components/Button.astro";
import SliderTestimonial from "~/components/SliderTestimonial.astro";

// Images
import quienesSomosImg from "~/assets/images/quienes-somos.jpg";
---

<Layout pageTitle="Thermohidráulica | Quiénes Somos?" title="Quienes Somos">
  <Section>
    <Container>
      <Hero>
        <div slot="hero-left" class="prose lg:max-w-2xl">
          <h1>Quiénes Somos</h1>
          <p>
            En <strong>Thermohidráulica</strong> somos especialistas en el
            <strong
              >diseño, instalación y mantenimiento preventivo y correctivo de
              sistemas HVAC</strong
            >. Ofrecemos soluciones integrales en <strong
              >climatización, ventilación y sistemas de agua helada</strong
            >, tanto para <strong>confort ambiental</strong> como para <strong
              >procesos industriales</strong
            >, garantizando <strong
              >eficiencia, confiabilidad y rendimiento óptimo</strong
            > en cada proyecto.
          </p>
          <p>
            Contamos con un <strong>equipo técnico altamente capacitado</strong>
            y con más de
            <strong>10 años de experiencia</strong> en la gestión de sistemas de
            aire acondicionado. Nuestra labor se apoya en <strong
              >herramientas y tecnologías especializadas</strong
            > que nos permiten realizar tareas clave como:
          </p>

          <ul>
            <li>Recuperación de refrigerante de manera segura.</li>
            <li>Deshidratación de sistemas mediante bomba de vacío.</li>
            <li>Mediciones precisas con vacuómetro.</li>
          </ul>
          <p>
            Además, empleamos <strong
              >productos de limpieza específicos para intercambiadores de calor</strong
            >, lo que mejora la <strong>eficiencia energética</strong>,
            <strong>prolonga la vida útil de los equipos</strong> y
            <strong>reduce el impacto ambiental</strong>.
          </p>

          <Button href="/contact" class:list={"mt-4"}
            >Contáctanos hoy mismo</Button
          >
        </div>
        <div slot="hero-right">
          <Image src={quienesSomosImg} alt="Quiénes Somos" />
        </div>
      </Hero>
    </Container>
  </Section>

  <Section class:list={"bg-gray-50"}>
    <Container>
      <Heading class="mb-10">
        <h2 slot="heading-title" class="text-center">
          Conoce a Nuestro Equipo
        </h2>
        <p slot="heading-content" class="text-center">
          Especialistas en mantenimiento, diseño y optimización de sistemas de
          aire acondicionado, ventilación y agua helada.
        </p>
      </Heading>
      <Team />
    </Container>
  </Section>

  <Section>
    <Container>
      <h2 class="text-center mb-10">Clientes que confían en nosotros</h2>
      <p class="text-center mb-10">
        Cada instalación refleja nuestro compromiso con la eficiencia, el
        confort y la calidad.
      </p>
      <SliderTestimonial />
    </Container>
  </Section>
</Layout>
