---
import { Image } from "astro:assets";
import Layout from "~/layouts/Layout.astro";
import Section from "~/components/Section.astro";
import Container from "~/components/Container.astro";
import Button from "~/components/Button.astro";
import Hero from "~/components/Hero.astro";
import Faq from "~/components/Faq.astro";
import Heading from "~/components/Heading.astro";
import Grid from "~/components/Grid.astro";
import GridItem from "~/components/GridItem.astro";

// Images
import tecnicoAire from "~/assets/images/tecnico-aire.jpg";
import ImageHeadingBackground from "~/assets/images/teccnico.jpg";
import ImageOne from "~/assets/images/servicio-1.jpg";
import ImageTwo from "~/assets/images/servicio-2.jpg";
---

<Layout pageTitle="Home">
  {/* Main Heading */}
  <Section class:list={"relative"}>
    <Image
      src={ImageHeadingBackground}
      alt="Heading background"
      class:list={"absolute inset-0 w-full h-full object-cover object-bottom"}
    />
    <div class="absolute inset-0 w-full h-full object-cover bg-gray-800/80">
    </div>
    <Container class:list={"relative z-10"}>
      <Heading class:list={"prose-invert max-w-4xl lg:py-30"}>
        <h1
          slot="heading-title"
          class="mb-0 lg:text-7xl text-balance text-center"
        >
          Eficiencia, confort y tecnología en cada sistema de climatización
        </h1>
        <p slot="heading-content" class="text-center">
          Especialistas en mantenimiento, diseño y optimización de sistemas de
          aire acondicionado, ventilación y agua helada.
        </p>
      </Heading>
    </Container>
  </Section>

  {/* Hero */}
  <Section>
    <Container>
      <Hero>
        <div slot="hero-left" class="prose">
          <h2>
            Soluciones integrales para sistemas de climatización eficientes
          </h2>
          <p>
            Nuestro enfoque se centra en la eficiencia energética y el confort,
            garantizando un ambiente óptimo para cada espacio.
          </p>

          <Button href="/contact" class:list={"mt-4"}
            >Contáctanos hoy mismo</Button
          >
        </div>
        <div slot="hero-right">
          <Image src={tecnicoAire} alt="Car dealer" />
        </div>
      </Hero>
    </Container>
  </Section>

  {/* Grid */}
  <Section>
    <Container>
      <Grid>
        <GridItem
          image={ImageOne}
          imageAlt="Car dealer"
          span={1}
          link="/servicios"
          As="a"
          xl
        >
          <h2>Mantenimiento preventivo y correctivo</h2>
          <p>
            Nuestro servicio de mantenimiento preventivo y correctivo está
            diseñado para garantizar el óptimo funcionamiento de su sistema de
            climatización. Realizamos revisiones periódicas y ajustes necesarios
            para evitar fallos y prolongar la vida útil de su equipo.
          </p>
          <Button
            As="button"
            type="button"
            color="white-outline"
            class:list={"mt-4 group-hover:bg-white/10"}>Servicios</Button
          >
        </GridItem>

        <GridItem
          image={ImageTwo}
          imageAlt="Car dealer"
          link="/servicios"
          As="a"
        >
          <h2>Diseño e instalación de sistemas de climatización</h2>
          <p>
            Nuestro servicio de diseño e instalación de sistemas de
            climatización se adapta a las necesidades específicas de cada
            cliente. Contamos con un equipo de expertos que garantiza una
            instalación eficiente y de alta calidad, utilizando tecnología de
            vanguardia para maximizar el confort y la eficiencia energética.
          </p>
          <Button
            As="button"
            type="button"
            color="white-outline"
            class:list={"mt-4 group-hover:bg-white/10"}>Servicios</Button
          >
        </GridItem>
      </Grid>
    </Container>
  </Section>

  {/* CTA */}
  <Section class:list={"bg-gradient-to-br from-gray-900 to-gray-700"}>
    <Container>
      <Heading class:list={"mb-0 lg:mb-0 prose-invert text-center mx-auto"}>
        <h2 slot="heading-title">
          ¿Te interesa mejorar la eficiencia de tu sistema de climatización?
        </h2>

        <p slot="heading-content">
          Nuestro equipo está aquí para ayudarte a encontrar la solución
          perfecta que se adapte a tus necesidades y presupuesto. Ya sea que
          busques un sistema de climatización eficiente, un servicio de
          mantenimiento confiable o una instalación de alta calidad, tenemos
          algo para ti. for everyone.
        </p>

        <Button href="/contact" color="blue" class:list={"mt-8"}
          >Contactanos</Button
        >
      </Heading>
    </Container>
  </Section>

  {
    /* FAQ
  <Section class:list={"bg-gray-50"}>
    <Container>
      <Heading class:list={"max-w-3xl mx-auto lg:text-center"}>
        <h2 slot="heading-title">Welcome to our car dealer!</h2>

        <p slot="heading-content">
          Find your next car here. We have a wide range of cars for sale. Browse
          through our collection and find the perfect car that suits your needs
          and budget.
        </p>
      </Heading>

      <Faq
        items={[
          {
            question: "What's the best thing about Switzerland?",
            answer:
              "I don't know, but the flag is a big plus. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas cupiditate laboriosam fugiat.",
          },
          {
            question: "What do you call a fake noodle?",
            answer:
              "An impasta. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas cupiditate laboriosam fugiat.",
          },
          {
            question: "What do you call a belt made out of watches?",
            answer:
              "A waist of time. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas cupiditate laboriosam fugiat.",
          },
        ]}
      />
    </Container>
  </Section> */
  }
</Layout>
