---
import { socialMedia } from "~/data/config.js";
import IconInstagram from "~/assets/images/icons/social-media/instagram.svg";
import IconYouTube from "~/assets/images/icons/social-media/youtube.svg";
import IconWhatsApp from "~/assets/images/icons/social-media/whatsapp.svg";
import IconLinkedIn from "~/assets/images/icons/social-media/linkedin.svg";
---

{
  Object.values(socialMedia).map(
    (item: { url: string; label: string; icon: string }) => (
      <a
        href={item.url}
        target="_blank"
        aria-label={item.label}
        rel="noopener noreferrer"
        class="social-media-icon"
      >
        {item.icon === "whatsapp" && (
          <IconWhatsApp class="size-8 text-white hover:text-gray-800 transition p-1 -m-1" />
        )}
        {item.icon === "instagram" && (
          <IconInstagram class="size-8 text-white hover:text-gray-800 transition p-1 -m-1" />
        )}
        {item.icon === "youtube" && (
          <IconYouTube class="size-8 text-white hover:text-gray-800 transition p-1 -m-1" />
        )}
        {item.icon === "linkedin" && (
          <IconLinkedIn class="size-8 text-white hover:text-gray-800 transition p-1 -m-1" />
        )}
      </a>
    )
  )
}
