---
import Layout from "~/layouts/Layout.astro";
import Section from "~/components/Section.astro";
import Container from "~/components/Container.astro";
import GridAlt from "~/components/GridAlt.astro";
import Heading from "~/components/Heading.astro";
import Article from "~/components/Article.astro";
import CardGridAlt from "~/components/CardGridAlt.astro";
---

<Layout pageTitle="Servicios | Thermohidráulica" title="Servicios">
  <Section>
    <Container>
      <Heading class:list={"mb-10"}>
        <h2 slot="heading-title" class="text-center">
          Los servicios que ofrecemos
        </h2>

        <p slot="heading-content" class="text-center">
          En Thermohidráulica, nos especializamos en brindar soluciones
          integrales para sistemas de climatización, aire acondicionado y agua
          helada. Nuestro equipo de expertos está comprometido en ofrecer
          servicios de alta calidad que garantizan el rendimiento óptimo y la
          eficiencia energética de tus sistemas HVAC.
        </p>
      </Heading>
      <GridAlt>
        <CardGridAlt
          title="Mantenimiento preventivo y correctivo"
          description="Cuidamos tus sistemas HVAC para un rendimiento óptimo todo el año."
          color="blue"
          icon="checkmark"
          href="/servicios/mantenimiento"
        />
        <CardGridAlt
          title="Diseño e instalación de sistemas de climatización"
          description="Soluciones de climatización a medida: eficiencia, confort y tecnología."
          color="blue"
          icon="checkmark"
          href="/servicios/diseno-e-instalacion"
        />
        <CardGridAlt
          title="Sistemas de agua helada (Chillers)"
          description="Expertos en chillers: rendimiento, control térmico y fiabilidad."
          color="blue"
          icon="checkmark"
          href="/servicios/sistema-agua-helada"
        />
        <CardGridAlt
          title="Soluciones para procesos industriales o de confort"
          description="Climatización precisa para entornos industriales y espacios de confort."
          color="blue"
          icon="checkmark"
          href="/servicios/soluciones-industriales-confort"
        />
        <CardGridAlt
          title="Mediciones energéticas de equipos HVAC"
          description="Analizamos el consumo para maximizar la eficiencia energética."
          color="blue"
          icon="checkmark"
          href="/servicios/mediciones-equipos-hvac"
        />
        <CardGridAlt
          title="Rutinas de mantenimiento preventivo"
          description="Mantenimiento planificado para garantizar la continuidad y eficiencia."
          color="blue"
          icon="checkmark"
          href="/servicios/rutinas-mantenimiento-preventivo"
        />
      </GridAlt>
    </Container>
  </Section>
</Layout>
